<nav class="navbar navbar-expand-lg navbar-light bg-light" >
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#212121;">
      <ul class="navbar-nav mr-auto">
       
          <li class="nav-item">
            <a class="nav-link" routerLink="/convertiseur"><p class="text-info bg-dark">Exercice 1: convertiseur</p></a> 
          </li>



          <li class="nav-item">
            <a class="nav-link" routerLink="/actors"> <p class="text-info bg-dark">Exercice 2:Actors</p></a> 
          </li>
          
          
      </ul>
  
    </div>
  </nav>